---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/pycqa/flake8
  rev: 7.2.0
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, flake8-comprehensions, flake8-deprecated, flake8-pep3101, flake8-print, flake8-string-format]
    args: ['--ignore=E203,W503,E701,E704']
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
    name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    args: [--py312-plus]
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v3.1.0
  hooks:
  - id: setup-cfg-fmt
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '150']
